<!DOCTYPE html>
<meta charset="utf-8">
<style>

#num-trucks-chart div {
  font: 10px sans-serif;
  background-color: green;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#tooltip {
    position: absolute;
    width: 95px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.indent{
    padding-left: 5px;
}
.heading{
    font-weight: bold;
}
#keyword{
    color: red;
    font-style: italic;
}
rect {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
rect:hover{
    fill: orange;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

</style>
<h1>Average Number of Trucks</h1>
<div id="num-trucks-chart"></div>
<h1>Average Number of Trucks and Incident Duration</h1>
<div id="trucks-duration-chart"></div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
<script type="text/javascript">
{% autoescape off %}
   // Plot Incident Type vs. Avg Number of Trucks in a Bar Graph
    var avg_num_of_trucks = JSON.parse('{{ avg_num_of_trucks }}');
    var incident_type = avg_num_of_trucks.map(function(obj){return obj.incident_type})
    var number_of_units = avg_num_of_trucks.map(function(obj){return obj.number_of_units});

var margin = {
    top: 25,
    right: 75,
    bottom: 120,
    left: 85
},
    w = 2000 - margin.left - margin.right,
    h = 600 - margin.top - margin.bottom;
var padding = 10;

var xScale = d3.scale.ordinal()
    .domain(d3.range(incident_type.length))
    .rangeRoundBands([0, w], 0.05);

var yScale = d3.scale.linear()
    .domain([0, Math.max.apply(Math, number_of_units)])
    .range([h, 0]);

var xAxis = d3.svg.axis()
    .scale(xScale)
    .tickFormat(function (d) {
    return incident_type[d];
})
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left")
    .ticks(5);

var commaFormat = d3.format(',');

//SVG element
var svg = d3.select("#num-trucks-chart")
    .append("svg")
    .attr("width", w + margin.left + margin.right)
    .attr("height", h + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Graph Bars
svg.selectAll("rect")
    .data(number_of_units)
  .enter().append("rect")
    .attr("x", function(d, i) { return xScale(i)})
    .attr("y", function(d) { 
        return yScale(d); 
    })
    .attr("width", w/incident_type.length)
    .attr("height", function(d) { return h - yScale(d); } )
    .attr("fill","green")
    .attr("stroke","rgb(0,0,0)")
    .attr("stroke-width","1")
    .text(function(d) { return d; });

    // xAxis
    svg.append("g") // Add the X Axis
    .attr("class", "x axis")
        .attr("transform", "translate(0," + (h) + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-.8em")
        .attr("dy", ".15em")
        .attr("transform", function (d) {
        return "rotate(-25)";
    });
    // yAxis
    svg.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(0 ,0)")
        .call(yAxis);
    // xAxis label
    svg.append("text")
        .attr("transform", "translate(" + (w / 2) + " ," + (h + margin.bottom - 5) + ")")
        .style("text-anchor", "middle")
        .text("Incident Type");
    //yAxis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (h / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("# of Trucks");

{% endautoescape %}  
</script>
<script type="text/javascript">
{% autoescape off %}
   // Plot Incident Type vs. Avg Number of Trucks in a Bar Graph
    var avg_trucks_and_duration = JSON.parse('{{ avg_trucks_and_duration }}');
       // just to have some space around items. 
        var margins = {
            "left": 60,
                "right": 50,
                "top": 30,
                "bottom": 50
        };
        
        var width = 500;
        var height = 520;
        
        // this will be our colour scale. An Ordinal scale.
        var colors = d3.scale.category10();

        // we add the SVG component to the scatter-load div
        var svg = d3.select("#trucks-duration-chart").append("svg").attr("width", width).attr("height", height).append("g")
            .attr("transform", "translate(" + margins.left + "," + margins.top + ")");

        // this sets the scale that we're using for the X axis. 
        // the domain define the min and max variables to show. In this case, it's the min and max prices of items.
        // this is made a compact piece of code due to d3.extent which gives back the max and min of the price variable within the dataset
        var x = d3.scale.linear()
            .domain(d3.extent(avg_trucks_and_duration, function (d) {
            return d.number_of_units;
        }))
        // the range maps the domain to values from 0 to the width minus the left and right margins (used to space out the visualization)
            .range([0, width - margins.left - margins.right]);

        // this does the same as for the y axis but maps from the rating variable to the height to 0. 
        var y = d3.scale.log().base(10)
            .domain(d3.extent(avg_trucks_and_duration, function (d) {
            return d.avg_duration;
        }))
        // Note that height goes first due to the weird SVG coordinate system
        .range([height - margins.top - margins.bottom, 0]);

        // we add the axes SVG component. At this point, this is just a placeholder. The actual axis will be added in a bit
        svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + y.range()[0] + ")");
        svg.append("g").attr("class", "y axis");

        // this is our X axis label. Nothing too special to see here.
        svg.append("text")
            .attr("fill", "#414241")
            .attr("text-anchor", "end")
            .attr("x", width / 2)
            .attr("y", height - 30)
            .text("Average Number of Trucks");

        // Y axis label
        svg.append("text")
            .attr("fill", "#414241")
            .attr("text-anchor", "end")
            .attr("transform", "rotate(-90)")
            .attr("x", -height/3)
            .attr("y", -margins.left+10)
            .text("Average Duration (min)");        


        // this is the actual definition of our x and y axes. The orientation refers to where the labels appear - for the x axis, below or above the line, and for the y axis, left or right of the line. Tick padding refers to how much space between the tick and the label. There are other parameters too - see https://github.com/mbostock/d3/wiki/SVG-Axes for more information
        var xAxis = d3.svg.axis().scale(x).orient("bottom").tickPadding(2);
        var yAxis = d3.svg.axis().scale(y).orient("left").tickPadding(2);

        // this is where we select the axis we created a few lines earlier. See how we select the axis item. in our svg we appended a g element with a x/y and axis class. To pull that back up, we do this svg select, then 'call' the appropriate axis object for rendering.    
        svg.selectAll("g.y.axis").call(yAxis);
        svg.selectAll("g.x.axis").call(xAxis);

        // now, we can get down to the data part, and drawing stuff. We are telling D3 that all nodes (g elements with class node) will have data attached to them. The 'key' we use (to let D3 know the uniqueness of items) will be the name. Not usually a great key, but fine for this example.
        var nodes = svg.selectAll("g.node").data(avg_trucks_and_duration, function (d) {
            return d.alarm_level;
        });

        // we 'enter' the data, making the SVG group (to contain a circle and text) with a class node. This corresponds with what we told the data it should be above.
        
        var nodeGroup = nodes.enter().append("g").attr("class", "node")
        // this is how we set the position of the items. Translate is an incredibly useful function for rotating and positioning items 
        .attr('transform', function (d) {
            return "translate(" + x(d.number_of_units) + "," + y(d.avg_duration) + ")";
        });

        // we add our first graphics element! A circle! 
        nodeGroup.append("circle")
            .attr("r", 5)
            .attr("class", "dot")
            .style("fill", function (d) {
                // remember the ordinal scales? We use the colors scale to get a colour for our manufacturer. Now each node will be coloured
                // by who makes the chocolate. 
                return colors(d.alarm_level);
        });

        // now we add some text, so we can see what each item is.
        nodeGroup.append("text")
            .style("text-anchor", "middle")
            .attr("dy", -10)
            .text(function (d) {
                // this shouldn't be a surprising statement.
                return 'Alarm Level ' + d.alarm_level;
        });
{% endautoescape %}  
</script>

